.popupout {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
} 
.popupbox {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;  
  background-color: white;
  color:black; 
  width: 500px;
  max-height: 80%;
  padding: 1.5rem; 
  border-radius: 10px;
  overflow: scroll;
}

.popupbox .close {
  background-color: black;
  color: var(--col1);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  line-height: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: 0.3s;
  z-index: 1001;
}

.confirmation-message p {
  text-align:center;
  font-size : 1.3rem;
  font-family:'PT Sans';
}